{% extends 'principal/base.html' %}

{% block titulo %}Listagem de Pessoas{% endblock %}

{% block texto %}Listagem de Pessoas{% endblock %}


{% block conteudo %}

<form method="GET">
    <input type="text" name="nome" placeholder="Buscar por nome"/>
    <input type="Submit" value="Buscar">
</form>

<a href="{% url 'pessoa.novo' %}">Nova Pessoa</a>
    
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Ativa</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for pessoa in object_list %}
        <tr>
            <td>{{ pessoa.nome_completo }}</td>
            <td>{{ pessoa.data_nascimento|date:"d/m/Y" }}</td>
            <td>
                {% if pessoa.ativa %}
                Sim
                {% else %}
                Não 
                {% endif %}
            </td>
            <td>
                <a href="{% url 'pessoa.editar' pessoa.pk %}">Editar</a>
                <a href="{% url 'pessoa.remover' pessoa.pk %}">Remover</a>
                <a href="{% url 'pessoa.contatos' pessoa.pk %}">Contatos</a>
            </td>
        </tr>
        {% endfor %}
</table>
{% endblock %}